*{
margin: 0;
padding: 8px;
font-family: 'Montserrat', sans-serif;
font-size: 400;
}

body{
    background-color: #0F141D;
}

p,h2 {
    color: #FFF9F9;
}

.marioo{
    width: 8rem;
    }





























