p,h4 {
    color: #FFF9F9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
}
img {
    height: 20vh;
}

.productImage{
    width: 8rem;
}

.hollow .animal{
    display: flex;
    flex-direction: column;
}

.box {
    display: grid;
    justify-content: center;
    gap: 3vw;
    margin-top: 2vh;
}
.box-novedades {
    grid-template: 1fr / repeat(2, 1fr);
}
.box-products {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr)
}

.alignCenter{
    display: flex;
    justify-content: center;
}

h4{
    background: #0669AF;
    border-radius: 7px;
    width: fit-content;
    padding: 0.8vh 5vw;
    text-transform: uppercase;
    font-weight: 900;
}




















