a {
  text-decoration: none;
  color: #fff9f9;
}
img {
  height: 20vh;
}



.titulo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;
  color: #fff9f9;
}

.div-grid {
  display: grid;
  justify-content:space-between;
  gap: 3vw;
}
.div-novedades {
  grid-template: 1fr / repeat(2, 1fr);
}
.div-productos {
  grid-template: repeat(2, 1fr) / repeat(2, 1fr)
}

.caja-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2vh 0;
}

.nproducto {
  font-family: "Montserrat", sans-serif;
  width: fit-content;
  text-align: center;
  color: #fff9f9;
  margin: 1vh 0;
}

.cata {
  display: flex;
  justify-content: center;
}
.catalogo {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #0669af;
  padding: 1vh;
  border-radius: 5px;
  margin: 2vh 0;
}

.precio {
  font-family: "Montserrat", sans-serif;
  margin: 0.5vh 0;
  color: #fff9f9;
}
