@media screen and (min-width: 768px) {
    main {
        padding: 2%;
    }
    .logo-title {
        font-size: 24px;
    }
    .button-menu {
      display: none;
    }
    .main-logo {
      flex-basis: 30%;
    }
    .main-nav {
      position: static;
      margin-right: 0;
      flex-basis: 70%;
      height: 100%;
      align-content:center;
    }
    .nav-links {
      width: 50%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items:center;
      justify-content: space-around;
    }
    .link-item {
      display: inline-block;
      margin-top: 0;
      margin-right: 2rem;
    }
    .box-img {
        height: 40vh;
    }
    .novedad-img {
        height: 57vh;
    }
    .div-novedades {
        grid-template: 65vh / repeat(2, 40vw);
        align-items: center;
        justify-content: space-around;
    }
    .nproducto {
        font-size: 1.25em;
    }
    .precio {
        font-size: 1.25em;
        font-weight: bold;
    }
    .div-productos {
        grid-template: auto / repeat(4, auto);
    }
    .catalogo {
        padding: 2.5vh;
        font-size: 1.2em;
        margin: 0;
        margin-top: 10vh;
    }
    .contact {
        padding: 0;
    }
    .nosotros h2, .contact h3 {
        font-size: 1.5em;
    }
    .nosotros p, .contact p {
        font-size: 1.2em;
    }
    .catalog-title {
        padding: 1vh 3vw;
        margin: 0 auto;
    }
    .box {
        gap: 2vw;
    }
    .box-novedades {
        grid-template: 70vh / repeat(2, 40vw);
        align-items:center;
        justify-content: center;
    }
    .box-products {
        grid-template: repeat(2, auto) / repeat(4, auto);
        justify-content: space-around;
    }
    .catalog-img {
        height: 30vh;
    }
    .titulo {
        font-size: 1.2em;
        padding: 1vh 3vw;
    }
    .Producto {
        align-items:center;
    }
    .info{
        width: 50%;
        font-size: 1.4em;
        margin: 4vh auto;
    }
    .description {
        padding: 0 2vw;
        font-size: 1.4em;
        text-align:justify; 
    }
    .description h3 {
        margin-bottom: 2vh;
    }
    .product-img {
        width: 50vw;
        height: auto;
    }
    .abajo {
        justify-content: center;
        align-items:center;
        gap: 3vw;
        font-size: 1.3em;
    }
    label {
        font-size: 1.3em;
    }
    .abajo p {
        order: 1;
    }
    .abajo button {
        order: 0;
        padding: 1vh 3vw;
    }
    footer {
        display: grid;
        background-color: rgba(22, 41, 72, 1);
        grid-template: repeat(2, auto) / repeat(2, auto);
        justify-content: center;
        align-items:center;
        padding: 7vh 4vw;
        gap: 1vh;
    }
    .nosotros {
        grid-row: 1 / span 2;
        margin: 0;
        padding: 0;
        padding-right: 10vw;
        max-width: 70%;
    }
    .nosotros p {
        margin: 0;
        margin-top: 1.5vh;
    }
    .nosotros p, .nosotros h2 {
        text-align: left;
    }
    .social-media {
        justify-content: space-evenly;
        font-size: 2.4em;
        padding:0 ;
        order: 1;
    }
  }